
  * {
    box-sizing: border-box;
  }


  html {
    font-family: "Montserrat";
    font-style: normal;
    width: 100%;
    height: 100%;
  }

  body {

    width: 100%;
    height: 100%;
    margin: 0;

  }

  .container {
    max-width: 1920px;
    width: 100%;
    background: url(Custom.png) center/cover no-repeat;



  }


  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 172px 0 162px;
    color: #ffff;

  }

  .menu_icon {
    display: flex;
    flex-direction: column;


  }

  .menu_icon_first {
    font-weight: 800;
    font-size: 48px;



  }

  .menu_icon span {
    font-size: 23px;
    font-weight: 400;

  }
  @media (max-width: 964px) {
    .menu {
       justify-content: center;

    }
}
  .menu_items {
    display: flex;
    font-size: 23px;
    gap: 80px;
    font-weight: 400;
    align-items: center;

  }

  @media (max-width: 1128px) {
    .menu_icon_first {
      font-size: 30px;
    }

    .menu_icon span {
      font-size: 15px;
    }



  }

  @media (max-width: 1128px) {
    .menu_icon_first {
      font-size: 30px;
    }

    .menu_icon span {
      font-size: 15px;
    }

  }

  @media (max-width: 1116px) {
    .menu_items {
      display: none;
    }

  }

  .menu_items a {
    text-decoration: none;
    color: #ffff;
  }


  .menu_button button {
    display: block;
    font-size: 23px;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    border-radius: 50px;
    width: 120px;
   
    height: 50px;
    color: #ffff;
    font-weight: 400;
    padding: 0;
    font-family: inherit;



  }

  @media (max-width: 1128px) {

    .menu_button button {
      font-size: 15px;
    }

  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 234px 165px 67px 162px;
    gap: 60px;
    color: #ffff;


  }

  .title_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;



  }

  .subtitle {

    font-weight: 600;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.8);
  }

  .title_text_end {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
  }

  @media (max-width: 1284px) {
    .title_text {
      font-size: 100px;
    }

    .subtitle {
      font-size: 40px;
    }

    .title_text_end {
      font-size: 100px;
    }
  }

  @media (max-width: 1128px) {
    .title_text {
      font-size: 80px;
    }

    .subtitle {
      font-size: 32px;
    }

    .title_text_end {
      font-size: 80px;
    }
  }

  @media (max-width: 964px) {
    .title {
      display: flex;
      flex-direction: column;  
      align-items: center;
    }
    .title_text_end {
        text-align: center;
      }
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
     margin-left: 131px;
    padding-bottom: 70px;



  }
  .icon img {
    max-height: 28px;
    height: 100%
  }

  @media (max-width: 964px) {
    .icon {
      display: flex;
      flex-direction: row;
      padding-bottom: 70px;
      justify-content: center;
     margin-left: 0;

    }
  }